body, html{
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #222627;
}
.container{
    width: 100%;
    background-color: #222627;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    margin:auto;
}
/*
CSS de Hero
*/
.hero-title{
    font-size: 85px;
    font-weight: bold;
    text-transform: uppercase;
 
}

.hero-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.text-style{

}

.hero-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("hero.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/*
CSS Container Flex
*/
.container-about{
    display: flex;
    border: 1px;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    background-color: #3e4f6b;
}
/*
CSS Containers
*/
.container-chart{
    border: 10px;
    padding: 10px;
    margin: 10px;
    margin-top: 10%;
    height: 300px; 
    width: 100%
}
/*
CSS Divided section by 2 colums
*/
.box-1-about{
    border: 1px;
    padding: 10px;
    margin: 10px;
    order: 2;
}

.box-2-about{
    border: 1px;
    padding: 5px;
    margin: 5px;
    order:1;
    background-color: #ee5430;
}
/*
CSS for images
*/
.fill-image{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

/*CSS for texts*/
.title{
    text-align: center;
    color: white;
    font:  verdana, arial;

}
.paragraph{
    text-align: justify;
    color: white;
    font:  verdana, arial;

}

/*
CSS Portafolio
*/
.col{
    width: 265px;
    display: inline-block;
    vertical-align: top;
    text-align: justify;
    padding: 20px;
    background-color: #2b2a2f;
}
.col h2{
    color: white;
    size: 16;
    text-align: center;
    text-transform: uppercase;
}
.col p{
    color: white;
    text-align: justify;
}
.col a{
    color: white;
    text-decoration: none;
    
}
.col a:hover{
    color: #f56d21;
}
.row{
    text-align: center;
    background-color: dimgray;
}
